---
let SkillsImage = [
    { name: "Javascript", image: "/brand-javascript.svg" },
    { name: "HTML5", image: "/brand-html5.svg" },
    { name: "CSS3", image: "/brand-css3.svg" },
    { name: "Nextjs", image: "/brand-nextjs.svg" },
    { name: "React", image: "/brand-react.svg" },
    { name: "Angular", image: "/brand-angular.svg" },
    { name: "Python", image: "/brand-python.svg" },
    { name: "Sass", image: "/brand-sass.svg" },
    { name: "Typescript", image: "/brand-typescript.svg" },
    { name: "Docker", image: "/brand-docker.svg" },
    { name: "Ubuntu", image: "/brand-ubuntu.svg" },
    { name: "Git", image: "/brand-git.svg" },
    { name: "jQuery", image: "/brand-jquery.svg" },
    { name: "Vercel", image: "/brand-vercel.svg" },
    { name: "Astro.js", image: "/brand-astro.svg" },
    { name: "Vite.js", image: "/brand-vite.svg" },
    { name: "Webpack", image: "/brand-cube.svg" },

];
---

<footer id="skills" class="w-full pb-16 text-sm text-slate-500 sm:pb-0">
    <div
        class="sticky lg:relative top-0 z-20 -mx-6 mb-4 w-full bg-transparent px-6 py-5 backdrop-blur md:-mx-12 md:px-12"
    >
        <h2
            class="text-sm font-bold uppercase tracking-widest text-slate-200 "
        >
            Habilidades Técnicas
        </h2>
    </div>
    <ul class="flex align-middle justify-center gap-5 flex-wrap my-12">
        {
            SkillsImage.map((skill, i) => {
                let { name, image } = skill;
                return(
                    <li class="text-xs shrink-0 size-8 opacity-50 hover:text-slate-200 hover:opacity-100">
                    
                        <img src={image} alt={name} title={name} class="invert cursor-pointer w-full h-auto ">
                    </li>

                )
            })
        }
    </ul>
    <p class="pt-10 text-[10px] max-w-lg">
        Materializado y codificado en <a
            href="https://code.visualstudio.com/"
            class="font-medium text-slate-400 hover:text-orange-500 focus-visible:text-orange-500"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Visual Studio Code (opens in a new tab)"
            >Visual Studio Code,</a>
            Construido con la dinámica combinación de<a
            href="https://astro.build/"
            class="font-medium text-slate-400 hover:text-orange-500 focus-visible:text-orange-500"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Next.js (opens in a new tab)"> Astro.js</a
        > y <a
            href="https://tailwindcss.com/"
            class="font-medium text-slate-400 hover:text-orange-500 focus-visible:text-orange-500"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Tailwind CSS (opens in a new tab)">Tailwind CSS</a
        >, desplegado al mundo con <a
            href="https://vercel.com/"
            class="font-medium text-slate-400 hover:text-orange-500 focus-visible:text-orange-500"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Vercel (opens in a new tab)">Vercel</a
        >.
    </p>
</footer>
