---
import LinkedInIcon from '../components/Icons/LinkedIn.astro'
import GitHubIcon from '../components/Icons/GitHub.astro'
import InstagramIcon from '../components/Icons/InstagramIcon.astro'
import TwitterIcon from '../components/Icons/TwitterIcon.astro'

---

<ul class="ml-1 mt-8 flex items-center" aria-label="Social media">
    <li class="mr-5 text-xs shrink-0">
        <a
            class="block hover:text-slate-200"
            href="https://github.com/calopez97"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="GitHub (opens in a new tab)"
            title="GitHub"
        >
            <span class="sr-only">GitHub</span>
            <GitHubIcon /> 
        </a
        >
    </li>
    <li class="mr-5 text-xs shrink-0">
        <a
            class="block hover:text-slate-200"
            href="https://www.linkedin.com/in/camilo-a-lopez/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="LinkedIn (opens in a new tab)"
            title="LinkedIn"
        >
            <span class="sr-only">LinkedIn</span>
            <LinkedInIcon />
        </a>
    </li>
    <li class="mr-5 text-xs shrink-0">
        <a
            class="block hover:text-slate-200"
            href="https://www.instagram.com/caaaaaamilo/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Instagram (opens in a new tab)"
            title="Instagram"
        >
            <span class="sr-only">Instagram</span>
            <InstagramIcon />    
        </a>
    </li>
    <li class="mr-5 text-xs shrink-0">
        <a
            class="block hover:text-slate-200"
            href="https://twitter.com/K_Bomm"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Twitter (opens in a new tab)"
            title="Twitter"
        >
            <span class="sr-only">Twitter</span>
           <TwitterIcon />
        </a>
    </li>
</ul>