---
// Supports weights 100-900
import '@fontsource-variable/outfit';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/avatar.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 leading-relaxed text-slate-400 antialiased selection:bg-orange-400 selection:text-black">
		<slot />
	</body>
</html>
<style is:global>
	html, * {
		scroll-behavior: smooth;
		letter-spacing: .8px;
		font-family: 'Outfit Variable', sans-serif;
	}

	p{
		font-weight:100;
		color: white;
	}
</style>
